body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: hsl(0, 0%, 20%);
    margin: 0;
    padding: 0;
}

header {
    background-color: #4A90E2;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

nav {
    margin-top: 10px;
    font-size: 18px;
}

nav a {
    color: #F5A623;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4A90E2;
    text-align: center;
}

h2 {
    color: #F5A623;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #4A90E2;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    background: #357ABD;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #4A90E2;
}

th {
    background: #F5A623;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

footer {
    background: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}


.engagement-list {
    list-style-type: disc; /* Définit des puces classiques */
    padding-left: 20px; /* Ajoute de l'espace à gauche pour les puces */
}

.engagement-list li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333; /* Couleur du texte des items */
    font-weight: normal; /* Optionnel : pour ne pas avoir du texte en gras */
    background: none; /* Retirer tout fond pour éviter les carrés bleus */
    text-align: left; /* Optionnel : texte aligné à gauche */
}

.engagement-list li:hover {
    background: white;
}